gdpr.json
[{"id":"ac211e73.6461a","type":"watson-conversation-v1","z":"14cce617.f5546a","name":"Conversation","workspaceid":"f1d05360-4e60-4d7a-9ad1-e91d2ee0b3dc","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":118.66665649414062,"y":367.3333511352539,"wires":[["26b7707f.9fc9a","de19301e.a9561","ed75146b.59f2c8","52780986.f86728"]]},{"id":"78154831.26b378","type":"chatbot-slack-receive","z":"14cce617.f5546a","bot":"cc883ac.465dfc8","x":120,"y":60,"wires":[["8b90e245.5cf7e"]]},{"id":"8b90e245.5cf7e","type":"change","z":"14cce617.f5546a","name":"Update payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":129.33331298828125,"y":176.66668701171875,"wires":[["ac211e73.6461a"]]},{"id":"26b7707f.9fc9a","type":"function","z":"14cce617.f5546a","name":"Postprocessing","func":"var output = msg.payload.output.text\nfor (var t in output) {\n    msg.payload = output[t]\n    node.send(msg);\n}\nreturn ;","outputs":1,"noerr":0,"x":480,"y":120,"wires":[["5cf05764.0cc058","e929632e.17e24"]]},{"id":"e929632e.17e24","type":"debug","z":"14cce617.f5546a","name":"","active":false,"console":"false","complete":"payload","x":663.5,"y":232.29998779296875,"wires":[]},{"id":"fef69f63.edf4f","type":"debug","z":"14cce617.f5546a","name":"","active":false,"console":"false","complete":"false","x":757,"y":20,"wires":[]},{"id":"5cf05764.0cc058","type":"chatbot-message","z":"14cce617.f5546a","name":"text","message":[{"message":"{{payload}}\n"}],"answer":false,"track":false,"parse_mode":"","x":602.5,"y":52.94999694824219,"wires":[["fef69f63.edf4f","2ee0b822.1020d8"]]},{"id":"2ee0b822.1020d8","type":"chatbot-slack-send","z":"14cce617.f5546a","bot":"cc883ac.465dfc8","x":725.5,"y":104.09999084472656,"wires":[[]]},{"id":"bcead415.11f438","type":"natural-language-understanding","z":"14cce617.f5546a","name":"Sentiment analysis","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":false,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","x":555.5,"y":292.8333435058594,"wires":[["f725e2d7.b4195","1118f153.6e1f8f"]]},{"id":"de19301e.a9561","type":"function","z":"14cce617.f5546a","name":"","func":"var pippo = msg.payload.input.text;\n\nmsg.payload = pippo;\n\nconsole.log(\"is ok?\" + pippo);\n\nreturn msg;","outputs":1,"noerr":0,"x":394.5,"y":248.44998168945312,"wires":[["bcead415.11f438"]]},{"id":"f725e2d7.b4195","type":"function","z":"14cce617.f5546a","name":"","func":"if (msg.features.sentiment.document.score < 0)\nmsg.payload = \":-(\";\nelse\nif (msg.features.sentiment.document.score == 0)\nmsg.payload = \":-|\";\nelse\nmsg.payload = \":-)\";\nreturn msg;","outputs":1,"noerr":0,"x":749.8333129882812,"y":293.7832946777344,"wires":[["eb13d029.4223c"]]},{"id":"72769515.0f028c","type":"ui_audio","z":"14cce617.f5546a","name":"audio output","group":"9498519c.0edeb","voice":"2","always":"","x":704.5,"y":486.5999755859375,"wires":[]},{"id":"eb13d029.4223c","type":"ui_text","z":"14cce617.f5546a","group":"9498519c.0edeb","order":0,"width":"0","height":"0","name":"GDPR SENTIMENT","label":"Sentiment","format":"{{msg.payload}}","layout":"row-spread","x":921.5,"y":295.60003662109375,"wires":[]},{"id":"f2e27f58.9f79","type":"ui_chart","z":"14cce617.f5546a","name":"","group":"9498519c.0edeb","order":0,"width":"0","height":"0","label":"Trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"-5","ymax":"+5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":827.1666870117187,"y":416.4666442871094,"wires":[[],[]]},{"id":"1118f153.6e1f8f","type":"function","z":"14cce617.f5546a","name":"","func":"msg.payload =\n     msg.features.sentiment.document.score;\nreturn msg;","outputs":1,"noerr":0,"x":709.5,"y":366.4500427246094,"wires":[["f2e27f58.9f79"]]},{"id":"52780986.f86728","type":"function","z":"14cce617.f5546a","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":499.5,"y":484.45001220703125,"wires":[["72769515.0f028c","7b88803d.3d882"]]},{"id":"7b88803d.3d882","type":"debug","z":"14cce617.f5546a","name":"","active":false,"console":"false","complete":"payload","x":656.5,"y":551.2999877929687,"wires":[]},{"id":"ed75146b.59f2c8","type":"debug","z":"14cce617.f5546a","name":"","active":false,"console":"false","complete":"false","x":390.3333435058594,"y":370.20001220703125,"wires":[]},{"id":"cc883ac.465dfc8","type":"chatbot-slack-node","z":"","botname":"Bot","usernames":""},{"id":"9498519c.0edeb","type":"ui_group","z":"","name":"Default","tab":"dcbb2165.a8d2b","disp":true,"width":"6"},{"id":"dcbb2165.a8d2b","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]